.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #FFF;
}
.dataTable tbody tr {
  //background-color: #CCC;
  background-color:#3e444c;
  //background-color:#c8c8c8;
  color: #FFF;
}
.dataTable tbody tr:hover {
  //background-color: #F00;
  color: #FFF;
  cursor:pointer;
}
